<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>


<form method="post">
    {%csrf_token %}
    <H2> Search Blog Here</H2>
    {{form.as_p}}
    <input type ="submit" value="Search">
</form>


{% for data in dataset %}
<h3>{{data.blog_title}}</h3>
<a href = "{% url 'blogs' _id=data.id %}">Read More</a>
{% if request.user.is_authenticated %}
        <form method="GET" id="form-like">
            <div class="likes">
                <button onclick="{{ post.likes|add:1 }}">{{ post.likes }}</button>
            </div>
        </form>
{% endif %}
<hr/>
{% endfor %}

<table>
    <tr>
        <td>
            No
        </td>
        <td>
            Team
        </td>
        <td>
            W/L
        </td>
        <td>
            Points
        </td>
    </tr>

{% for team in reg_list %}
    <tr>
        <td>
            {{ team.0 }}
        </td>
        <td>
            {{ team.1 }}
        </td>
        <td>
            {{ team.2 }}
        </td>
        <td>
            {{ team.3 }}
        </td>
    </tr>

{% endfor %}
</table>
<table>
{% for team in vb_list %}
    <tr>
        <td>
            {{ team.0 }}
        </td>
        <td>
            {{ team.1 }}
        </td>
        <td>
            {{ team.2 }}
        </td>
        <td>
            {{ team.3 }}
        </td>
    </tr>

{% endfor %}
</table>
<table>
{% for team in mad_pl %}
    <tr>
        <td>
            {{ team.0 }}
        </td>
        <td>
            {{ team.1 }}
        </td>
        <td>
            {{ team.2 }}
        </td>
        <td>
            {{ team.3 }}
        </td>
        <td>
            {{ team.4 }}
        </td>
        <td>
            {{ team.5 }}
        </td>
        <td>
            {{ team.6 }}
        </td>
        <td>
            {{ team.7 }}
        </td>
        <td>
            {{ team.8 }}
        </td>
        <td>
            {{ team.9 }}
        </td>
    </tr>

{% endfor %}
</table>

</body>
</html>