<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>


<form method="post">
    {%csrf_token %}
    <H2> Search Blog Here</H2>
    {{form.as_p}}
    <input type ="submit" value="Search">
</form>


{% for data in dataset %}
<h3>{{data.blog_title}}</h3>
<a href = "{% url 'blogs' _id=data.id %}">Read More</a>
{% if request.user.is_authenticated %}
        <form method="GET" id="form-like">
            <div class="likes">
                <button onclick="{{ post.likes|add:1 }}">{{ post.likes }}</button>
            </div>
        </form>
{% endif %}
<hr/>
{% endfor %}

{{ finaly_parse }}

</body>
</html>